$breakpoint_xxl: 1000px;
$breakpoint_xl: 768px;
$breakpoint_md: 480px;
$breakpoint_sm: 360px;

$main-color: #D03664;
$white-color: #FFFFFF;
$lightpurple-color: #FFEAF1;
$discount: #F99C11;
$grey: #585858;
$lightgrey: #C7C7C7;